.Questions{

    background-color: rgb(255 249 254);
    width:100vw;
    height: 100vh;
    font-family: 'Popins',sans-serif;
    box-sizing: border-box;
  }


.quiz-app{
    margin-top:20rem;
   display:flex;
   flex-direction:row-reverse;
    background-color: #ffffff;
    width:100%;
    max-width:890px;
    margin:0px auto;
    border-radius: 10px;
    /* box-shadow: #0d0c0c;
    border-left: 10px solid rgba(0, 0, 0, 0.305);
    border-right: 10px solid rgba(0, 0, 0, 0.302);
    border-bottom: 10px solid rgba(0, 0, 0, 0.303); */
    padding:30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;



}
.quiz-app h1{
    font-size: 25px;
    color: #001e4d;
    font-weight:600;
    border-bottom: 1px solid #333;
    padding-bottom:30px;
}
.quiz-app img{
    margin-top:8rem;
    height:14rem;
    width:14rem;
}
.quizs{
  
    padding:20px 0;
}
.quizs h2{
    font-weight: 600;
    font-size:18px;
    color:#222;
}
.quiz{
    display:flex;
    flex-direction: row;
}
.option{
    font-weight:500;
    width:100%;
    padding:10px;
    margin:10px 0;
    text-align:left;
    border-radius: 4px;
    cursor: pointer;
}
.option:hover{
    background:#222;
    color:#fff;
}
.btn{
    margin-left: 3px;
    margin-right:3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.106), 0 6px 20px 0 rgba(0, 0, 0, 0.091);

}
.operations{
    margin-top:2rem;
}
.btn-success{
    margin-left:0;
    width:6rem;

}
.btn-light{
    margin-left:0.5rem;
    width:5rem;
}
.btn-warning{
    margin-left:0.5rem;
    width:12.5rem;
    margin-right:0.5rem;
}
.btn-primary{
    margin-right:0;
}
.options{
    display:flex;
    flex-direction: row;
}
.options label{
    padding-top:23px;
    margin-right:10px;
    text-align:left;
    margin-bottom:0px;
    font-size:18px;
}