.quest-sidebar{
    height:96%;
    background-color: rgb(255, 255, 255);
    float:right;
    width:30rem;
    margin-right:10px;
    overflow:auto;
}

.subject{
    border: 0px;
    background-color: white;
    

}
.icon{
    margin:20px;
    border-radius:50%;
    width:50px;
    height:50px;
    border:0px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.106), 0 6px 20px 0 rgba(0, 0, 0, 0.091);

}
.content-icon{
    display:flex;
    flex-wrap: wrap;
}
.nav-side{
    border-radius:20px 0% 0% 20px;
}