*{
    margin:0;
    padding:0;
}
nav,ul {
    display: flex;
}
li {
    list-style: none;
}
ul {
    gap: 34px;
}
nav {
    background-color: beige;
    /* margin:23px; */
    padding:23px;
}

/* Custom CSS to stack navigation items horizontally */
.nav-horizontal {
    display: flex;
    flex-direction: row;
  }
  