.assn_no {
    border: 1px solid black;    
    width:92.6%;
}
.assign_button {
    width:100%;
    background-color: blue;
    color: white;
}
.h {
    height: 4rem;
    margin-left: 2rem;
}
.border {
    border-radius: 4px;
}
.margin-top {
    margin-top: 1rem;
  }