 body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.wrapper {
  height: 100vh;
  width: 100vw;
   display: flex;
  position: relative;
  
}
.container {
  height: 100%;
  width: 100%;
 display: flex;
}

.classes {
  width:80%;
  position: absolute;
  right:0;
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top:12rem;
  /* background-color: blue; */
   /* background-color: blue; */
}


.class-size {
  border: 1px solid black;
  width: 35rem;
  height: 15rem;
  /* height: 1500px; */
  /* background-color: blue; */
}

.sidebar{
  width:10%;
  position: absolute;
  left:0;
}

.flex {
  display: flex;
  width:80%;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 13rem;
  
}