/* .container{
    display:flex;
    flex-direction: row-reverse;
    background-color: aqua;
}

.block{
    height:48rem;
    width:500px;
    margin-left:10px;
    background-color: rgb(255, 255, 255);
}
.image{
    margin-left:15rem;
}

.container .block h3 {
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    
}

.container .block h2 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
}

.form{
	width: 300px;
}

.i{
	color: #2a1458;
	display: flex;
	justify-content: center;
	align-items: center;
}


.i i{
	transition: .3s;
}


#tt{
    width:500px;
    height:767px;
    margin-left:0;
}


.input-div{
	position: relative;
	display: grid;
	grid-template-columns: 15% 85%;
	margin:25px 0;
	padding: 5px 0;
	border-bottom:2px solid #d9d9d9;
}
 */

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
  */
.image img{
    margin-top: 20px;

    width:29rem;
    height:43rem;
}
.container{
    display:flex;
    flex-direction: row;
    background-position: center;
    background-size:"cover";
}


.block img{
    height: 10rem;
    width: 10rem;
    margin-right: auto;
    margin-left:1rem;
    margin-top:20px;
    margin-bottom:30px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.106),0 6px 20px 0 rgba(0,0,0,0.091);
    background-color: rgb(254, 254, 254);
}
.block{
    margin-top:20px;
    margin-bottom:20px;
    width:30rem;
    background-color: rgb(255, 255, 255);
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.106),0 6px 20px 0 rgba(0,0,0,0.091);
    height:97.3%;
}
.block h3{
    font-size: x-large;
    font-weight: 500;
}
.username{
    background-color: rgb(255, 255, 255);
    width:21rem;
    height:3rem;
    border:0px;
    border-radius:20px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.106),0 6px 20px 0 rgba(0,0,0,0.091);
}
.password{
    background-color: rgb(255, 255, 255);
    margin-top:20px;
    margin-left:0rem;
    width:21rem;
    height:3rem;
    border:0px;
    border-radius:20px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.106),0 6px 20px 0 rgba(0,0,0,0.091);
}
.login{
    margin:50px;
    margin-right:20px;
    margin-left:50px;
    width:10rem;
    height:3rem;
    background-color: blueviolet;
    border-radius:20px;
    color:white;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.106),0 6px 20px 0 rgba(0,0,0,0.091);
}
.signin{
    margin:50px;
    margin-left:0px;
    width:10rem;
    height:3rem;
    background-color: blueviolet;
    border-radius:20px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.106),0 6px 20px 0 rgba(0,0,0,0.091);
    color:white;
}
